SOUND_HOVER_OR_GRAB = 21591__djgriffin__sub-bass-stab-g.wav
SOUND_THAW = tick.mp3
SOUND_PEN_STOP_DRAW = tick.mp3
SOUND_PEN_UNDO_DRAW = tick.mp3
SOUND_PEN_CHANGE_COLOR = tick.mp3
SOUND_TOGGLE_MIC = tick.mp3
SOUND_CAMERA_TOOL_COUNTDOWN = tick.mp3
SOUND_TELEPORT_START = teleport-loop.mp3
SOUND_TELEPORT_END = quickTurn.mp3
SOUND_WAYPOINT_START = quickTurn.mp3
SOUND_WAYPOINT_END = tick.mp3
SOUND_SNAP_ROTATE = tap_mellow.mp3
SOUND_SPAWN_PEN = PenSpawn.mp3
THIS_IS_A_MALFORMED_LINE woohoo! bla bla bla


SOUND_PEN_START_DRAW = PenDraw1.mp3
SOUND_CAMERA_TOOL_TOOK_SNAPSHOT = PicSnapHey.mp3
SOUND_ENTER_SCENE = welcome.mp3
SOUND_QUACK = quack.mp3
SOUND_SPECIAL_QUACK = specialquack.mp3
SOUND_CHAT_MESSAGE = pop.mp3
SOUND_FREEZE = Eb_blip.mp3
SOUND_PIN = tack.mp3
SOUND_MEDIA_LOADING = suspense.mp3
SOUND_MEDIA_LOADED = A_bendUp.mp3
SOUND_PREFERENCE_MENU_HOVER = Eb_blip.mp3
SOUND_SPAWN_EMOJI = emoji.mp3
SOME_MADE_UP_SOUND = tick.mp3
SOUND_SPEAKER_TONE = tone.mp3
