SOUND_HOVER_OR_GRAB = tick.mp3
SOUND_THAW = tick.mp3
SOUND_PEN_STOP_DRAW = PenStop_v1_15Dec2022.mp3
SOUND_PEN_UNDO_DRAW = Eraser_v1_15Dec2022.mp3
SOUND_PEN_CHANGE_COLOR = tick.mp3
SOUND_TOGGLE_MIC = tick.mp3
SOUND_CAMERA_TOOL_COUNTDOWN = smallclocktick_v1_19Dec2022.mp3
SOUND_TELEPORT_START = teleport-loop.mp3
SOUND_TELEPORT_END = quickTurn.mp3
SOUND_WAYPOINT_START = quickTurn.mp3
SOUND_WAYPOINT_END = tick.mp3
SOUND_SNAP_ROTATE = TurningSound_v2_04Aug2022.mp3
SOUND_SPAWN_PEN = PenSpawn_v1_15Dec2022.mp3
SOUND_PEN_START_DRAW = PenWriting_v3_cropped_16Dec2022.mp3
SOUND_CAMERA_TOOL_TOOK_SNAPSHOT = PolaroidCamera_v2_18Dec2022.mp3
SOUND_ENTER_SCENE = SignInSound_2sec_v4_longtail_18Dec2022.mp3
SOUND_QUACK = quack.mp3
SOUND_SPECIAL_QUACK = specialquack.mp3
SOUND_CHAT_MESSAGE = ChatNotification_v2_Cropped_-10db_19Dec2022.mp3
SOUND_FREEZE = tick.mp3
SOUND_PIN = Pinning-Locking_15Dec2022.mp3
SOUND_MEDIA_LOADING = SpawningSound_ambient_2synth_v5_+15db_19Dec2022.mp3
SOUND_MEDIA_LOADED = SpawningReveal_v3_18Dec2022.mp3
SOUND_PREFERENCE_MENU_HOVER = Eb_blip.mp3
SOUND_SPAWN_EMOJI = Emoji_v3_18Dec2022.mp3
SOUND_SPEAKER_TONE = RadarAudioTest_-25db_v4_18Dec2022.mp3
